header
    .box
        .menu
            width: 100%
            height: 100px
            background-color: #212529
            border: 1px solid #212529
            position: fixed
            top: 0px
            left: 0
            .imgbox
                width: 50px
                margin: 10px 0 0 40px
            .bigbox
                margin: 5px 0 50px 0
            .btn
                display: none   
                li
                    display: inline-block
                    margin: 
                    font-size: 20px
                    color: #ffffff
                    &:hover
                        color: #ffc800
    @media screen and (max-width: 1010px)
        .bigbox
            display: none
    @media screen and (max-width: 1009px)
        .btn
            position: fixed
            top: 15px
            right: 20px
            font-size: 25px
            color: #ffffff
            background-color: #212529
            border: 2px solid #ffffff
            width: 150px
            height: 50px
        .menu
            width: 100%
            height: 100px
            background-color: #212529
            border: 1px solid #212529
            position: fixed
            top: 0px
            left: 0
            &:hover
                width: 100%
                height: 30%
                background-color: #212529
                border: 1px solid #212529
                .bigbox
                    display: block
                    position: absolute
                    top: 100px
                    left: 130px
                    width: 100px
                    height: 180px
                    a
                        margin: 20px 0 0 0
                        font-size: 20px
                        color: #ffffff
                        &:hover
                            color: #ffc800
    @media screen and (max-width: 430px)
        .btn
            position: fixed
            top: 10px
            right: 15px
            font-size: 20px
            color: #ffffff
            background-color: #212529
            border: 2px solid #ffffff
            width: 110px
            height: 50px