header
    .box
        position: relative
        .menu
            width: 100%
            height: 90px
            background-color: #212529
            position: fixed
            top: 0
            left: 0

        .imgbox
            width: 150px
            position: absolute
            top: 30px
            left: 130px
        .box2
            position: absolute
            top: 30px
            right: 40px

            a
                margin-right: 30px
                font-size: 20px
                color: #ffffff
                &:hover
                    color: #ffc800

    @media screen and (max-width: 1005px)
        nav
            display: none
            margin: 35px 0 0
            a
                margin-right: 30px
                font-size: 20px
                color: #ffffff
                &:hover
                    color: #ffc800
    @media screen and (max-width: 1004px)
        .box
            background-color: #212529
            width: 100%
            height: 50%
            position: fixed
            top: 0
            left: 0
        .box2

        nav
            display: block
            a
                margin-right: 30px
                font-size: 20px
                color: #ffffff
                &:hover
                    color: #ffc800
        .minibox

            width: 110px
            height: 50px
            border: 2px solid #ffffff
            border-radius: 10px
            position: fixed
            top: 20px
            right: 90px
            
                font-size: 15px
                font-weight: 600
                color: #ffffff
                margin: 12px 0px 0 10px
            i
                font-size: 15px
                color: #ffffff
                margin: 12px 15px 0px 20px
        .box
            .imgbox
                width: 150px
                margin-left: 0px
