#services
    padding: 50px
    h1
        font-size: 50px
        margin: 0 0 5px 0px
        font-weight: 700
    h2
        margin: 20px 0 0 0px
        font-size: 20px
    .box
        margin: 50px 0px 4px 120px
        font-size: 90px
        width: 170px
        height: 170px
        border-radius: 90px
        background-color: #ffc800
        padding: 35px 0 0 30px
        color: #ffffff
    .textbox
        padding: 5px
        h1
            font-size: 10px
            margin-bottom: 20px
            line-height: 1.6
            margin: 0 0px 0 0px
        h2
            font-size: 20px
            font-weight: 700
            margin: 10px 0 10px 0px
    .box1
        margin: 50px 0 0 120px
        font-size: 90px
        width: 170px
        height: 170px
        border-radius: 90px
        background-color: #ffc800
        padding: 35px 0 0 45px
        color: #ffffff
    @media screen and (max-width: 1400px)
        padding: 100px
        h1
            font-size: 50px
            margin: 0 40px 0 0px
            font-weight: 700
        h2
            margin: 20px 0 0 0px
            font-size: 20px
        .box
            margin: 50px 0px 0 70px
            font-size: 90px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            h1
                font-size: 10px
                margin-bottom: 20px
                line-height: 1.6
                margin: 10px 50px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 20px 60px 0px 0px
        .box1
            margin: 50px 0 0px 70px
            font-size: 90px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff
    @media screen and (max-width: 1200px)
        .box
            margin: 50px 0px 0 40px
            font-size: 90px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .box1
            margin: 50px 0 0px 30px
            font-size: 90px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff            
    @media screen and (max-width: 1100px)
        padding: 50px
        h1
            font-size: 50px
            margin: 0 0 5px 10px
            font-weight: 700
        h2
            margin: 20px 0 0 10px
            font-size: 20px
        .box
            margin: 50px 0px 4px 75px
            font-size: 60px
            width: 140px
            height: 140px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            h1
                font-size: 10px
                margin-bottom: 20px
                line-height: 1.6
                margin: 0 0px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 0 10px 0px
        .box1
            margin: 50px 0 0 75px
            font-size: 60px
            width: 140px
            height: 140px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff
    @media screen and (max-width: 990px)
        .box
            margin: 50px 0px 4px 45px
            font-size: 60px
            width: 140px
            height: 140px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .box1
            margin: 50px 0 0 45px
            font-size: 60px
            width: 140px
            height: 140px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff            
    @media screen and (max-width: 935px)
        padding: 50px
        h1
            font-size: 50px
            margin: 0 0 5px 10px
            font-weight: 700
        h2
            margin: 20px 0 0 10px
            font-size: 20px
        .box
            margin: 50px 0px 4px 35px
            font-size: 60px
            width: 140px
            height: 140px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            h1
                font-size: 10px
                margin-bottom: 20px
                line-height: 1.6
                margin: 0 0px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 0 10px 0px
        .box1
            margin: 50px 0 0 30px
            font-size: 60px
            width: 140px
            height: 140px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff        
    @media screen and (max-width: 765px)
        display: flex
        flex-flow: wrap columu
        align-content: center
        h1
            font-size: 50px
            margin: 0 0 5px 20px
            font-weight: 700
        h2
            margin: 20px 0 0 20px
            font-size: 20px
        .box
            margin: 30px 0px 10px 170px
            font-size: 90px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            margin: 10px 0 5px 40px
            h1
                font-size: 10px
                margin-bottom: 10px
                line-height: 1.6
                margin: 10px 30px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 50px 10px 0px
        .box1
            margin: 30px 0 10px 170px
            font-size: 90px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff
    @media screen and (max-width: 625px)
        h1
            font-size: 50px
            margin: 0 0 5px 50px
            font-weight: 700
        h2
            margin: 20px 0 0 50px
            font-size: 20px
        .box
            margin: 50px 0px 10px 160px
            font-size: 70px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 45px 0 0 40px
            color: #ffffff
        .textbox
            padding: 5px
            margin: 10px 0 5px 40px
            h1
                font-size: 10px
                margin-bottom: 10px
                line-height: 1.6
                margin: 10px 0px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 0px 10px 0px
        .box1
            margin: 50px 0 10px 170px
            font-size: 70px
            width: 170px
            height: 170px
            border-radius: 90px
            background-color: #ffc800
            padding: 45px 0 0 50px
            color: #ffffff
    @media screen and (max-width: 560px)
        display: flex
        flex-flow: wrap columu
        align-content: center
        h1
            font-size: 50px
            margin: 0 0 5px 0px
            font-weight: 700
        h2
            margin: 20px 0 0 0px
            font-size: 20px
        .box
            margin: 50px 0px 10px 140px
            font-size: 70px
            width: 150px
            height: 150px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            margin: 10px 0 5px 40px
            h1
                font-size: 10px
                margin-bottom: 10px
                line-height: 1.6
                margin: 10px 30px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 30px 10px 0px
        .box1
            margin: 50px 0 10px 140px
            font-size: 70px
            width: 150px
            height: 150px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff
    @media screen and (max-width: 500px)
        h1
            font-size: 50px
            margin: 0 0 5px 0px
            font-weight: 700
        h2
            margin: 20px 0 0 0px
            font-size: 20px
        display: flex
        justify-content: center
        align-content: center        
        .box
            margin: 20px 0 0 120px 
            font-size: 70px
            width: 150px
            height: 150px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            margin: 10px 0 5px 20px
            h1
                font-size: 10px
                margin-bottom: 10px
                line-height: 1.6
                margin: 10px 30px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 0px 10px 0px
        .box1
            margin: 20px 0 10px 20px
            font-size: 70px
            width: 150px
            height: 150px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff
     @media screen and (max-width: 300px)
        h1
            font-size: 50px
            margin: 0 0 5px 0px
            font-weight: 700
        h2
            margin: 20px 0 0 0px
            font-size: 20px   
        .box
            margin: 20px 20px 0 0px 
            font-size: 60px
            width: 150px
            height: 150px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 30px
            color: #ffffff
        .textbox
            padding: 5px
            margin: 10px 0 5px 20px
            h1
                font-size: 10px
                margin-bottom: 10px
                line-height: 1.6
                margin: 10px 30px 0 0px
            h2
                font-size: 20px
                font-weight: 700
                margin: 10px 0px 10px 0px
        .box1
            margin: 20px 0 10px 20px
            font-size: 70px
            width: 150px
            height: 150px
            border-radius: 90px
            background-color: #ffc800
            padding: 35px 0 0 45px
            color: #ffffff
        