#welcome
    padding: 50px
    background-image: url("Assets/header-bg.jpg")
    background-position: center center
    background-size: cover
    background-attachment: scroll
    background-repeat: no-repeat
    width: 100%
    height: 950px
    .box
        .textbox
            position: relative
            h1
                position: absolute
                top: 230px
                right: 450px
                font-size: 30px
                font-weight: lighter
                color: #ffffff
                letter-spacing: 5px
            h2
                position: absolute
                top: 280px
                right: 300px
                font-size: 75px
                color: #ffffff
            .btn
                position: absolute
                top: 420px
                right: 530px
                padding: 10px 35px
                background-color: #ffc800
                font-size: 30px
                border-radius: 2px
                color: #ffffff
    @media screen and (max-width: 1500px)
        padding: 50px
        background-image: url("Assets/header-bg.jpg")
        background-position: center center
        background-size: cover
        background-attachment: scroll
        background-repeat: no-repeat
        width: 100%
        height: 750px
    @media screen and (max-width: 1200px)
        padding: 50px
        background-image: url("Assets/header-bg.jpg")
        background-position: center center
        background-size: cover
        background-attachment: scroll
        background-repeat: no-repeat
        width: 100%
        height: 750px
        .box
            .textbox
                position: relative
                h1
                    position: absolute
                    top: 220px
                    right: 310px
                    font-size: 30px
                    color: #ffffff
                h2
                    margin: px 110px 0px 220px
                    font-size: 50px
                    color: #ffffff
                .btn
                    position: absolute
                    top: 400px
                    right: 420px
                    padding: 10px 35px
                    background-color: #ffc800
                    font-size: 20px
                    border-radius: 5px
                    color: #ffffff
    @media screen and (max-width: 1000px)
        padding: 50px
        background-image: url("Assets/header-bg.jpg")
        background-position: center center
        background-size: cover
        background-attachment: scroll
        background-repeat: no-repeat
        width: 100%
        height: 750px
        .box
            .textbox
                position: relative
                h1
                    position: absolute
                    top: 180px
                    right: 80px
                    font-size: 30px
                    color: #ffffff
                h2
                    position: absolute
                    top: 250px
                    right: 50px
                    font-size: 60px
                    color: #ffffff
                .btn
                    position: absolute
                    top: 390px
                    right: 140px
                    padding: 10px 35px
                    background-color: #ffc800
                    font-size: 30px
                    border-radius: 5px
                    color: #ffffff
    @media screen and (max-width: 550px)
        padding: 50px
        background-image: url("Assets/header-bg.jpg")
        background-position: center center
        background-size: cover
        background-attachment: scroll
        background-repeat: no-repeat
        width: 100%
        height: 750px
        .box
            .textbox
                position: relative
                h1
                    position: absolute
                    top: 150px
                    right: 30px
                    font-size: 30px
                    color: #ffffff
                h2
                    position: absolute
                    top: 250px
                    right: 20px
                    font-size: 55px
                    color: #ffffff
                .btn
                    position: absolute
                    top: 450px
                    right: 80px
                    padding: 5px 5px
                    background-color: #ffc800
                    font-size: 30px
                    border-radius: 5px
                    color: #ffffff
                    width: 200px
                    height: 70px
    @media screen and (max-width: 400px)
        padding: 50px
        background-image: url("Assets/header-bg.jpg")
        background-position: center center
        background-size: cover
        background-attachment: scroll
        background-repeat: no-repeat
        width: 100%
        height: 750px
        .box
            .textbox
                position: relative
                h1
                    position: absolute
                    top: 150px
                    right: 30px
                    font-size: 30px
                    color: #ffffff
                h2
                    position: absolute
                    top: 250px
                    right: 20px
                    font-size: 55px
                    color: #ffffff
                .btn
                    position: absolute
                    top: 480px
                    right: 10px
                    padding: 5px 5px
                    background-color: #ffc800
                    font-size: 30px
                    border-radius: 5px
                    color: #ffffff
                    width: 200px
                    height: 70px